<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.grouponcdn.com/seocms/NAYfSQJQqUfnqfRsrT5kDkNmHRN/Friends-taking-cooking-class-together-1-768x461_jpg-768x461);">
  <div class="container">
    <h1>Make Friends <strong>l'inconnue</strong> mène toujours<strong> aux belles rencontres</strong>!</h1>
    <p>Rencontrez et partagez avec des gens des expériences hors du commun.</p>
  </div>
</div>
