.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.advertisement-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.advertisement-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.advertisement-card-content {
  padding: 15px;
}

.advertisement-card-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.advertisement-card-description {
  margin-bottom: 10px;
}

.advertisement-card-price {
  font-size: 1.1em;
  font-weight: bold;
}

.advertisement-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*show advertisement*/
.adver {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-advertisement{
  justify-content: center;
  width: 80%;
  margin-top: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.adver:hover {
  transform: translateY(-5px);
}
